---
export interface Props {
  rutaImagen: string;
  nombreProyecto: string;
  descripcion?: string;
  className?: string;
  isLarge?: boolean;
}

const { rutaImagen, nombreProyecto, descripcion, className = "" } = Astro.props;
---

<div
  class={`bg-background-grid rounded-xl gap-4 p-lghadow-background-accent border border-background-accent transition-all duration-300 h-full flex flex-col items-center justify-center text-center hover:shadow-md hover:scale-x-[101%] hover:scale-y-[102%] animate-[scale_1.05] ${className}`}
>
  <div class="flex-1 flex items-center justify-center min-h-48 w-full">
    <img
      src={rutaImagen}
      alt={nombreProyecto}
      class="w-full h-full object-contain"
    />
  </div>

  <div class="px-2 pb-4 flex flex-col items-center gap-3 -translate-y-3">
    <h3 class="font-semibold text-secondary text-4xl">
      {nombreProyecto}
    </h3>
    <div class="mt-2 text-secondary fonbt-medium text-sm px-8">
      <p>{descripcion}</p>
    </div>
    <slot name="tecnologias" />
  </div>
</div>
